<%= form_for [@satellite, @satellite.comments.build] do |f| %>
<% if user_signed_in? %>
<div class="container pb-cmnt-container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-info">
        <div class="panel-body">

          <h3>Write A Comment!</h3>
          <%= f.label :title %><br>
          <%= f.text_field :title, minimum: 5, type:'required' %><br>
          <%= f.label :comment %>

          <%= f.text_area :content, class:"pb-cmnt-textarea success" %>
<br>

            <%= f.submit 'Submit', class:'btn-primary btn-md', type:'submit'  %>

        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% end %>
