<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Xplorer1" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Xplorer1" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

    <footer class="footer-inverse text-center">

            © 2017 Copyright: <a href="https://github.com/LamarSmith92/x-plorer-1-app/tree/master/xplorer1"> Xplorer1 Dev Group </a>

        </footer>

  </body>
</html>
