<div class="post-single">
<div class="title">
<h2 class="satname text-center">  <%= @satellite.name %></h2>
</div>
<div class="clearfix"></div>
<div class="featured-image">

  <%= image_tag @satellite.picture, class:"img-responsive center-block" %>
</div>
<div class="post-content">
<p><strong>Description</strong> <br><%= @satellite.description%></p>
</div>
</div>
<%= render @satellite.comments %>
<h4><%= @satellite.comments.count %> Comments </h4>
<%= link_to "Back", satellites_path %>
<%= render "comments/form" %>
