<h1>The Satellite#Show page is working!</h1>




<%= image_tag @satellite.picture %>

<% @satellite.name %></p>

<p>Description:<%= @satellite.description%></p>
<%= render @satellite.comments %>
<h2><%= @satellite.comments.count %>
      Comments</h2>
<%= link_to "Back", satellites_path %>
<%= render "comments/form" %>
