<%= form_for @user,  html: { multipart: true } do |f| %>

<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <%= image_tag @user.image.url(:thumb) %>
        </div>

        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= full_name current_user %>
          </div>

        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">

          <div class='upload-img'>
            <label class="btn btn-default btn-file">
              <%= f.submit "upload" %>
            </label>

            <%= f.file_field :image, :class=>'btn pull-right' %>

          </div>
          <br>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">

            </li>
            <li>
              <a href="#">
                <i class="glyphicon glyphicon-user"></i>
                My Post
              </a>
            </li>

            <li>

         <%= link_to " Account Settings",  edit_user_registration_path, class: 'glyphicon glyphicon-flag' %>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
          <h2>About Me</h2>
          <hr>
          <p>
        <%= @user.about %>
      </p>
      </div>
      <%= render @user.comments = @user.comments %>
    </div>
  </div>
</div>

<br>
<br>

<% end %>
