<%= form_for @user,  html: { multipart: true } do |f| %>

<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <%= image_tag @user.image.url(:thumb) %>
        </div>

        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= full_name current_user %>
          </div>

        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <% if current_user %>
          <%= f.file_field :image, :class=>'btn pull-right' %>
          <br>
          <%= f.submit "upload",:class=>'btn-primary btn-xs' %>
          <% end %>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
                about
              </a>
            </li>

            <li>
              <a href="#" target="_blank">
                <i class="glyphicon glyphicon-ok"></i>
                Favorited Satellites</a>
            </li>
            <% if current_user %>
            <li>

         <%= link_to "AccountSettings",  edit_user_registration_path, class: 'glyphicon glyphicon-flag' %>
            </li>
            <% end %>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
          <h2>About Me</h2>
          <hr>
          <p>
        <%= @user.about %>
      </p>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<% end %>
